body{
  font-family: Roboto, sans-serif;
}
#navbar{
 background-color: red;
  color: white;
  box-shadow: darkred 3px 3px 5px;

}
#park, #retrieve{
 border: 1px white solid;
}
button{
 background-color: red;
  color: white;
}
#instructions, #map, #directions{
  box-shadow: darkred 3px 3px 5px;
  border: 1px white solid;

}
#understood{
  border: 1px black solid;
}
